@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=IBM+Plex+Sans:wght@400;700&family=Outfit:wght@300;400;600;700&family=Poppins:wght@300;400;600&family=Red+Hat+Display:wght@500;900&family=Roboto:wght@100&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-image {
  padding: 4.8rem 12.8rem 0;
}

.groups {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

.heroes {
  width: 41.4rem;
  height: 15.3rem;
}

.group1 {
  overflow: hidden;
  display: none;
}

.group2 {
  overflow: hidden;
  display: none;
}
