@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=IBM+Plex+Sans:wght@400;700&family=Outfit:wght@300;400;600;700&family=Poppins:wght@300;400;600&family=Red+Hat+Display:wght@500;900&family=Roboto:wght@100&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.header-image {
  padding: 4.8rem 12.8rem 0;
}

.groups {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}

.heroes {
  width: 41.4rem;
  height: 15.3rem;
}

.group1 {
  display: none;
}

.group2 {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 5.4rem;
  width: 100%;
}

.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.8rem;
  gap: 2.4rem;
}

.title {
  color: #28283d;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.4rem;
  width: 10ch;
}

.description {
  color: #87879d;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  width: 30ch;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.download {
  background: #4d96a9;
  border-radius: 2.9rem;
  border: none;
  width: 19.3rem;
  height: 5.8rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2.6rem;
}

.download span {
  color: #8fe3f9;
}

.what {
  background: #855fb1;
  width: 13.9rem;
  height: 5.8rem;
  border-radius: 2.9rem;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2.6rem;
}

.rectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.difference1 {
  margin-top: 6.4rem;
}

.flex-container {
  background: #87879d;
  stroke-width: 0.1rem;
  opacity: 0.25;
  width: 0.1rem;
  height: 8.4rem;
}

.difference2 {
  left: 2.8rem;
  top: -20.6rem;
}

.rectangle p {
  border-radius: 2.9rem;
  border: 1px solid rgba(135, 135, 157, 0.25);
  width: 5.6rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  color: #87879d;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2.6rem;
}

.meeting-pictures {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-top: 6.4rem;
  justify-content: center;
  width: 32.2rem;
}

.first-pic,
.second-pic,
.third-pic,
.fourth-pic {
  width: 15.1rem;
  height: 14.3rem;
  border-radius: 0.8rem;
  background: #d8d8d8;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.4rem;
}

.built {
  color: #4d96a9;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2.6rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.text h2 {
  color: #28283d;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 3.6rem;
  width: 14ch;
  margin-top: 2.4rem;
}

.send {
  color: #87879d;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  width: 30ch;
  margin-top: 3.2rem;
}

.difference4 {
  top: -16rem;
  position: absolute;
}

.difference5 {
  position: absolute;
  top: 5.2rem;
}

.difference6 {
  margin-top: 13.5rem;
  background: #fff;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(77, 150, 169, 0.8);
  margin-top: 17.6rem;
  width: 100%;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/image-footer-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;
  background-size: cover;
}

.footer-ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 9.2rem 0 7.2rem 0;
}

.experience {
  color: #fafafa;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 3.6rem;
}

.description1 {
  color: #fafafa;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
  width: 27ch;
}

button {
  font-family: inherit;
}

.download2 {
  width: 19.3rem;
  height: 5.8rem;
  border-radius: 2.9rem;
  background: #855fb1;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 2.6rem;
  margin-top: 0.8rem;
}

.download2 span {
  color: #d9b8ff;
}

@media only screen and (min-width: 48rem) {
  .header-image {
    padding: 4.8rem 32.4rem 0;
  }

  .groups {
    gap: 3.6rem;
  }
  .heroes {
    width: 70rem;
    height: 27rem;
  }

  main {
    margin-top: 6.4rem;
  }

  .general {
    margin-top: 7.2rem;
  }

  .description {
    width: 38ch;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .difference1 {
    margin-top: 8rem;
  }

  .meeting-pictures {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
  }

  .text {
    margin-top: 4.8rem;
  }

  .text h2 {
    font-size: 4rem;
    line-height: 4.4rem;
    width: 15ch;
    margin-top: 1.6rem;
  }

  .send {
    width: 54ch;
  }

  footer {
    margin-top: 19.2rem;
  }

  footer::before {
    background-image: url(./assets/image-footer-tablet.jpg);
  }

  .footer-ending {
    gap: 3.2rem;
    padding-bottom: 6.6rem;
  }

  .experience {
    font-size: 4rem;
    line-height: 4.4rem;
    width: 15ch;
  }

  .description1 {
    width: 47ch;
  }
}

@media only screen and (min-width: 90rem) {
  .header-image {
    padding: 4.8rem 8rem 0;
  }

  .groups {
    display: flex;
    flex-direction: row;
    gap: 71.6rem;
    justify-content: space-between;
  }

  .heroes {
    display: none;
  }

  .group1 {
    display: flex;
  }

  .group2 {
    display: flex;
    padding-left: 25rem;
  }

  main {
    margin-top: 13rem;
  }

  .general {
    margin-top: -28rem;
    gap: 3.4rem;
  }

  .title {
    font-size: 6.4rem;
    line-height: 7rem;
  }

  .description {
    font-size: 1.8rem;
    width: 45ch;
  }

  .download {
    line-height: 0.163rem;
  }

  .what {
    line-height: 0.163rem;
  }

  .difference1 {
    margin-top: 13.3rem;
  }

  .meeting-pictures {
    gap: 3rem;
  }

  .first-pic,
  .second-pic,
  .third-pic,
  .fourth-pic {
    width: 25.5rem;
    height: 24.2rem;
  }

  .text {
    margin-top: 8rem;
  }

  .built {
    line-height: 0.163rem;
  }

  .text h2 {
    font-size: 4rem;
    line-height: 4.6rem;
    width: 15ch;
    margin-top: 1.6rem;
  }

  .send {
    font-size: 1.8rem;
    width: 42ch;
  }

  footer {
    margin-top: 18.4rem;
  }

  footer::before {
    background-image: url(./assets/image-footer-desktop.jpg);
  }

  .footer-ending {
    display: flex;
    flex-direction: row;
    gap: 9.2rem;
    padding: 11.6rem 0 10.4rem;
  }
  .experience {
    font-size: 4rem;
    width: 35rem;
    text-align: start;
    margin-right: 3.3rem;
  }
  .description1 {
    width: 29ch;
    text-align: start;
  }

  .download2 {
    margin: 0;
    transition: 0.5s;
  }

  .download2:hover {
    cursor: pointer;
    background: #b18bdd;
    transition: 0.5s;
  }

  .download:hover {
    cursor: pointer;
    background: #71c0d4;
    transition: 0.5s;
  }

  .download {
    transition: 0.5s;
  }

  .what:hover {
    cursor: pointer;
    background: #b18bdd;
    transition: 0.5s;
  }
  .what {
    transition: 0.5s;
  }
}
